#external{
    background-color: blueviolet;
    color: burlywood;
}
h1,h2,h3{
    color: blueviolet;
}

div{
    background-color: antiquewhite;
    text-align: center;
    color: brown;
}

.rgb{
    background-color: rgba(94, 17, 165, 0.329);
    color: rgb(3, 104, 8);
}
.hexadecimal{
    background-color: #2be2687a;
    color: #a52a2a;
}
.hsl{
    background-color: hsla(155, 59%, 41%, 0.445);
    color: hsl(207, 97%, 29%);
}

.lorem{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
    background-color: rgba(5, 210, 218, 0.514);
    color: #01360a91;
}